aiogram>2
asyncpg
aiogram-dialog
pydantic~=2.10.3
pydantic_settings
magic-filter
cjkwrap
sqlalchemy~=2.0.36
alembic
asyncpg
python-dotenv
aioredis
psycopg2
pytz~=2024.2
aiogram_dialog~=2.3.1
pydantic-settings~=2.8.1